body {
  background-image: url(font1.png);
  background-position-y: top;
  background-size:contain;
  background-repeat: no-repeat;
  top: 1px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.finish {
  padding: 0%;
  height:100vh;
  width:200%;
}

header {
  color: #0069d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

a {
  color: #172b4d;
}

i {
  transition: 0.5s;
}

.logo {
  padding-top: 10px;
  color: var(--primary-color);
  padding-left: 30px;
  font-size: 1.4rem;
}

#menu {
  padding-top: 20px;
  padding-right: 25px;
  color: var(--primary-color);
}

.item ul li a i {
  color: black;
}

.item i:hover {
  color: aqua;
}

.item ul {
  display: flex;
  list-style: none;
}

.item ul li {
  padding: 10px;
}

.finish {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  max-width: 450px;
  padding-left: 50px;
  
}

.CONNECT a {
  color: #0069d9;
  list-style: none;
  text-decoration: none;
  transition: 1s;
}

 .first-templateh1 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.first-template p {
  font-size: 16px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
}

.item {
  margin: 1px;
}

.main {
  display: grid;
  grid-row-gap:15vh;
  background-color: #c3c1c0cd;
  grid-row-start:15vh;
}

.flex-finish {
  display: flex;
  flex-direction: column;
}

.Works {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 30px;
  background-size: cover;
  height:65vh;
  width:90%;
  margin:5%;
  padding:5px;
}

p {
  font-size: 16px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
}

.img-1 {
  display: flex;
  width: 50%;
  height: 65vh;
  border-radius: 10px;
  margin-left: 20px;
}

.flex1 {
  display: flex;
  margin: 0;
}

.fontimg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.round {
  background-color: darkgray;
  height: 10px;
  width: 10px;
  margin-top: 5px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.tonic {
  padding-left: 20px;
  width: 30%;
}

.languages {
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-left: -40px;
}

.language {
  display: inline;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  font-size: 15px;
  color: #0069d9;
}

.see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  border-radius: 8px;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid;
  border-color: #162ae3;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-top-right-radius: 100px;
  height:auto;
  padding-top: 50px;
}

.line {
  font-size: 16px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
}

.div-CONNECT2 {
  margin-top:-10px;
}

.CONNECT2 {
  margin-top: 1vh;
}

.CONNECT2 a {
  color: #0069d9;
  list-style: none;
  text-decoration: none;
  transition: 1s;
}

.fab-ba {
  display:flex;
 margin-top:-10px;
  list-style: none;
}
.fab-ba a {
  color: #4e5054;
} 
.fab-ba li {
  padding-left: 10px;
}

.bnt-get {
  width: auto;
  height: auto;
  background-color: #6b8bde;
  padding: 10px;
  border-radius: 10px;
}

.first-about {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  border-radius: 30px;
  margin-left: 20px;
}

.second-about {
  padding-left: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.ico {
  width: 40px;
  height: 40px;
  padding-bottom:10px;
  border-radius:10px;
  padding-right:10px;
  margin-left: -15px;
  margin-bottom: 5px;
  margin-top:-8px;
}

.list {
  list-style: none;
  width: 60px;
  height: 14vh;
  background-color: bisque;
  margin: 10px;
  padding: 0 20px;
  border-radius: 10px;
  padding-top: 10px;
}

.languages2 h1 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 0 20px;
}

  .list1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  }

  .ico1 {
    width: 40px;
    height: 40px;
    border-radius:10px;
    padding-right:10px;
    margin-left: -15px;
    margin-top: -5px;
  }

  @media (max-width: 768px) {
  .Works {
  display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 30px;
      background-size: cover;
      height:100vh;
      
    }


    .img-1 {
      display: flex;
      width:100%;
      height:40vh;
      margin:0;
  }

    .tonic {
        padding-top: 0;
        padding-left:10px;
        width:100%;
        height:50vh;
    }


    .about-me {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:170vh;
    }

    .list {
      display: flex;
        list-style: none;
        width:80%;
        height:8vh;
        background-color: bisque;
        margin:10px;
        padding:0 20px;  
        border-radius: 10px;
        padding-top:10px;   
      }

      .languages2 h1 {
        margin:10px;
        padding:0 20px
      }
    
      hr {
        margin:0;
        padding:0;
      }

      .see-project {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 10px;
        width: 100px;
        height: 8vh;
        border-radius: 8px;
        color:  #0069d9;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        border: 1px solid;
        border-color: #162ae3;
        margin-top: -10px; 
      }

      .list1 {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width:80%;
        height:10vh;
        margin:10px;
        padding:0 20px;  
        border-radius: 10px;
      }
    
      .second-about {
        padding-left:10px;
        width:80%;
        height:50%;     
    }
     
  .first-about {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    border-radius: 30px;
    margin-left:20px;
  }

  .bnt-get {
    margin-top:0;
    background-color: #6b8bde;
    padding: 10px;
    border-radius: 10px;
  }

  .bnt-div {
    border-radius: 10px;
  }
    
  .line {
    margin-top:0 ;
    padding:0;
  }
    
  .p-div {
    margin-top:0  
  }
    
  .ico {
    width: 40px;
    height: 40px;
    border-radius:10px;
    padding-right:10px;
    margin-left: -15px;
    margin-top: -5px;
  }
    
  .ico1 {
    width: 40px;
    height: 40px;
    border-radius:10px;
    padding-right:10px;
    margin-left: -15px;
    margin-top: -5px;
  }
}
