* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('font.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 1px;
}

header {
  /* Use single quotes for string values */
  box-shadow: 0 1px 10px -5px grey;
  color: #0069d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

a {
  color: #172b4d;
}

i {
  transition: 0.5s;
}
i:hover {
  color: aqua;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  padding: 10px;
}

.connect a {
  color: #0069d9;
  list-style: none;
  text-decoration: none;
  transition: 1s;
}

.connect:hover {
  color: #11076f;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  max-width: 450px;
  padding-left: 50px;
}

p {
  color: #344563;
  font-family: sans-serif;
}

section h1 {
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
}

section p {
  font-size: large;
}

.item {
  margin: 1px;
}

@media screen and (min-width: 375px) {
  body {
    font-size: 17px;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.7rem;
  }
}

.my-button:active {
  background-color: #b5c6d8;
}

ul li a i {
  color: black;
}

